@charset "utf-8";
/* CSS Document */

body {
	background-color:#f2f2f2;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	background-image:url(../../imagenes/img/fill_background.jpg);
	background-repeat:no-repeat;
	background-position:center top;

	}
	

#titulo_dependencia {
	background-image:url(../../imagenes/ico/titulo_superior_icc.png);
	background-repeat:no-repeat;
	background-position:right;
	float:left;
	margin-left:450px;
	width:250px;
	height:95px;
}